.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: var(--mantine-spacing-xs) 0;
  border: 1px solid var(--mantine-color-dark-0);
  border-radius: var(--mantine-radius-md);

  @include smaller-than($mantine-breakpoint-xs) {
    flex-direction: column;
    align-items: initial;
    gap: 0;
  }
}

.item__controls {
  display: flex;
  gap: var(--mantine-spacing-md);
  justify-content: end;

  @include smaller-than($mantine-breakpoint-xs) {
    margin-left: var(--mantine-spacing-md);
    margin-bottom: var(--mantine-spacing-md);
  }
}